.FancyButton {
  border: none;
  border-radius: $radius2;
  background-image: linear-gradient(to bottom, #00ddf9, #00b8f0);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  padding: $size2;
  margin: $size2;
  min-width: 256px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;

  &:active,
  &:focus,
  &:hover {
    background-image: linear-gradient(to bottom, #44eaff, #00c3ff);
    color: #fff;
    text-decoration: none;
  }
}
