.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  border: 1px solid #d3d3d3;
  width: 450px;
  border-radius: 4px;

  .modal-header {
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    p {
      font-size: 16px;
      margin: 0;
      text-align: center;
    }
  }

  .modal-body {
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    padding: 8px 16px;

    p {
      font-size: 14px;
      line-height: 21px;
    }
  }

  .modal-footer {
    text-align: center;
    height: 134px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    #checkbox_label {
      color: inherit;
      margin-left: 8px;

      &.red {
        color: red;
      }
    }

    .checker {
      display: flex;
      align-items: center;
      margin-top: 0;
      margin-bottom: 24px;
    }

    .btn {
      width: 100px;
      height: 32px;
      padding-top: 0;
      line-height: 32px;
      text-decoration: none;
    }
  }
}

@media (max-width: 575.98px) {
  .modal {
    padding-top: 50px;
  }

  .modal-content {
    width: 340px;
  }

  .modal-body {
    height: 340px;
    overflow-y: auto;
  }
}
