.Footer {
  background: $color-content;
  box-shadow: 0 0 8px 0 rgba(229, 229, 229, 0.5);
  font-size: $font-size-normal;
  color: $color-text;
  padding: $size2;

  &_inner {
    margin: 0 auto;
    max-width: $site-max-width;
  }

  .widget_nav_menu {
    h3 {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      margin-top: 0;
    }

    #menu-footer-menu {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      padding: 0;
      font-weight: $font-weight-medium;
    }

    #menu-second-footer-menu {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      list-style: none;
      justify-content: space-between;

      li {
        width: 30%;

        a {
          display: block;
          font-size: $font-size-small;
          line-height: 2;
        }
      }
    }
  }

  &_copy {
    font-size: $font-size-small;
    color: $color-subtle;
    text-align: center;
    margin: $size3 0;
  }

  @media (max-width: $site-max-width) {
    .widget_nav_menu {
      #menu-second-footer-menu {
        li {
          width: 50%;
        }
      }
    }
  }
}
