.Header {
  background: $color-content;
  font-size: $font-size-normal;

  // Children
  &_top {
    border-bottom: 1px solid $color-border;
  }

  &_nav {
    border-bottom: 1px solid $color-border;
  }

  &_inner {
    max-width: $site-max-width;
    margin: 0 auto;
    padding: 0 $size2;
  }
}

.navbar {
  height: 63px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 125px;
    height: auto;
  }

  button {
    width: 126px;
    height: 36px;
    font-size: 14px;
    font-weight: normal;
    padding-top: 0;
    text-transform: uppercase;
    border: none;
    outline: none;
    cursor: pointer;
  }
}
