$site-max-width: 600px;

$size1: 0.5rem;
$size2: 1rem;
$size3: 1.5rem;
$size4: 2rem;

$font-size-base-sm: 14px;
$font-size-base-lg: 16px;

$font-size-small: 0.875rem;
$font-size-normal: 1rem;
$font-size-large: 1.25rem;
$font-size-xlarge: 2rem;

$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 500;

$radius1: 4px;
$radius2: 8px;

$color-background: #f9f9f9;
$color-border: rgba(#424242, 0.1);
$color-content: #fff;
$color-positive: #00b8f0;
$color-negative: #f27573;
$color-warning: #f59800;
$color-text: #4a4a4a;
$color-subtle: #999;

